.container--footer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat Light", sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}
