<div class="container--footer">
  <div class="item--contact">
    <a href="">
      <img src="../../../assets/img/icon/gmail.png" alt="">
      letmesolo@gmail.com
    </a>
  </div>

  <div class="item--contact">

    <a href="https://t.me/LetMeSol0">
      <img src="../../../assets/img/icon/telegram.png" alt="">
      TELEGRAM
    </a>
  </div>

  <div class="item--contact">
    <a href="">
      <img src="../../../assets/img/icon/telephone.png" alt="">
      +375(33) 377-58-76
    </a>
  </div>
</div>
