.container--main {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;

  .active {
    background-color: #a6a6a6;
    color: white;
  }

  //.line {
  //  margin: auto 0;
  //  width: 1px;
  //  height: 50%;
  //  background-color: #d5d5d5;
  //}

  .navigation {
    margin: auto 0;
    width: 10%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-right: 1px solid #d5d5d5;

    h3 {
      font-family: "Montserrat ExtraBold", sans-serif;
      font-weight: bold;
    }

    .navigation--item {
      width: 80%;
      height: 10%;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      font-family: "Montserrat-Light", sans-serif;

      transition: .3s ease-in-out;

      &:hover {
        background-color: gray;
        color: #fff;
      }
    }
  }

  .container--portfolio {
    margin: 0;
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
} /* =============== container =============== */

@media (max-width: 600px) {
  .container {
    .navigation {
      display: none;
    }
    .container--portfolio {
      width: 100%;
      .container--items {
        img {
          width: 100%;
        }
      }
    }
  }
}
