.container--contacts {
  width: 90%;
  height: 100%;
  margin: auto;

  font-weight: 200;
  font-size: 18px;

  h1 {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat ExtraBold", sans-serif;
  }

  .container--text {
    p {
      &:first-child {
        font-weight: 700;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    }
  }
}
